<header id="header" class="alt">
    <div style="color: white; padding-left: 10px; padding-top: 12px">
        <h4><a href="index">CHEF</a></h4>
    </div>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Meny</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="index">Hem</a></li>
                        <li><a href="#">Registrera dig</a></li>
                        <li><a href="login">Logga in</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
