<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Välj en av kategorierna nedan</h2>
								<p>Eller sök efter en text här: TODO: Fuzzy word search of texts</p>
							</header>
							<ul class="features">
								<li>
									<a href="level_2">
									<h3>Krishantering</h3>
										<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
									</a>
								</li>
								<li>
									<h3>Förhandling</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
									</a>
								</li>
								<li>
									<h3>Kick-off tal</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
								<li>
									<h3>Finn dig själv</h3>
									<p>Strategisk profilering av dig själv, och företaget</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
