<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h3>
									<a href="level_1">Hem</a> >
									<a href="level_2">Krishantering</a> >
									<a href="level_3">Medarbetare</a>
								</h3>
								<p>Välj område nedan</p>
							</header>
							<ul class="features">
								<li>
									<a href="level_4">
									<h3>Svåra samtal</h3>
										<p>Kring undermåliga prestationer, återkommande sjukskrivningar, alkoholproblem,
											spridande av dålig stämning, och otillbörliga förhållande på arbetsplatsen.
										</p>
									</a>
								</li>
								<li>
									<h3>Avskeda</h3>
									<p>Det har gått så långt (med eller utan erinran och varningar) att du antingen
										söker omplacera eller avskeda medarbetaren.
									</p>
									</a>
								</li>
								<li>
									<h3>Behåll</h3>
									<p>Medarbetarens kompetens, arbetsvilja och sociala förmåga gör hen inte bara
										ovärderlig för företaget utan även attraktiv på marknaden. Anbuden är flera –
										vad kan du göra för att behålla hen?
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
