<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h3>
									<a href="level_2">Krishantering</a>
								</h3>
								<p>Välj påverkad gruppering nedan</p>
							</header>
							<ul class="features">
								<li>
									<a href="level_3">
									<h3>Medarbetare</h3>
										<p>När du behöver stöd kring svåra samtal, när du vill behålla kompetenta
											medarbetare eller bli av med mindre kompetenta.
										</p>
									</a>
								</li>
								<li>
									<h3>Du själv</h3>
									<p>När du behöver förklara dig själv – beslut, budget, kompetens, trakasserier
										inför din chef och ledningsgruppen.
									</p>
									</a>
								</li>
								<li>
									<h3>Din avdelning/grupp</h3>
									<p>När du har bekymmer att förklara saker som prestationen, resultatet,
										kostnadsläget, kompetensen, bemanningen, bristen på idéer och framförhållning.
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
