<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h3>
									<a href="level_1">Hem</a> >
									<a href="level_2">Krishantering</a> >
									<a href="level_3">Medarbetare</a> >
									<a href="level_4">Svåra samtal</a>
								</h3>
								<p>Välj fokus nedan</p>
							</header>
							<ul class="features">
								<li>
									<a href="summaries">
									<h3>Undermålig prestation</h3>
										<p>Medarbetaren visar brister i kvalitet, effektivitet, arbetsmoral och –
											eller kundbeteende.
										</p>
									</a>
								</li>
								<li>
									<h3>Alkoholvanor</h3>
									<p>Medarbetaren verkar ha problem med droger, det har inte bara efterverkningar på
										hens prestationer, det stör organisationen.
									</p>
									</a>
								</li>
								<li>
									<h3>Otillbörligt förhållande</h3>
									<p>Medabetaren har förhållande med underställd.
									</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
