<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h3>Välj en av kategorierna nedan</h3>
							</header>
							<ul class="features">
								<li>
									<a href="level_2">
									<h3>Krishantering</h3>
										<p>Stöd för svåra samtal angående medarbetare <br>
											– samt försvar vad gäller din funktion och dig själv.</p>
									</a>
								</li>
								<li>
									<h3>Förhandling</h3>
									<p>När du behöver support inför en förhandling <br>
										– intern eller extern.</p>
								</li>
								<li>
									<a href="tal/all">
									<h3>Kick-off tal</h3>
									<p>Situationsanpassade upplägg för motiverande tal <br>
										– för såväl motgång som framgång.</p>
									</a>
								</li>
								<li>
									<h3>Positionering</h3>
									<p>Strategisk positionering <br>
										– av såväl företaget som dig själv.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
