<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h3>
									<a href="./../level_1">Hem</a> >
									<a href="all">Kick-off tal</a>
								</h3>
								<p>Välj typ av tal nedan</p>
							</header>
							<ul class="features">
								<li>
									<a href="forandring">
									<h3>Förändring</h3>
										<p> Beskrivande Text 1</p>
									</a>
								</li>
								<li>
									<a href="konkurrensen">
									<h3>Konkurrensen</h3>
									<p> Beskrivande Text 2</p>
									</a>
								</li>
								<li>
									<a href="skordetid">
									<h3>Skördetid</h3>
									<p> Beskrivande Text 3</p>
									</a>
								</li>
								<li>
									<a href="nytt">
									<h3>Svårt med nytt</h3>
									<p> Beskrivande Text 4</p>
									</a>
								</li>
								<li>
									<a href="salj">
									<h3>Sälj!</h3>
									<p> Beskrivande Text 5</p>
									</a>
								</li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
