<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Krishantering > Personal > Svåra samtal > Prestation</h2>
								<p>Välj ett problem nedan</p>
							</header>
							<div class="row">
								<div class="6u 12u$(medium)">
									<ul class="alt">
										<li><a href="text">Kvalitet och ineffektivitet</a></li>
										<li>>Kundbeteende</li>
										<li>>Rättvisefråga</li>
									</ul>
								</div>
							</div>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
