<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h3>
									<a href="level_1">Hem</a> >
									<a href="level_2">Krishantering</a> >
									<a href="level_3">Medarbetare</a> >
									<a href="level_4">Svåra samtal</a>  >
									<a href="summaries">Prestation</a>
								</h3>
								<p>Välj specifikt problem nedan</p>
							</header>
							<div class="align-center">
								<ol>
									<li><a href="text">Kvalitet och ineffektivitet</a></li>
									<li>Kundbeteende</li>
									<li>Rättvisefråga</li>
								</ol>
							</div>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
