<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
                                <div class="align-center">
                                    <h5>
										<a href="./../level_1">Hem</a> >
                                        <a href="all">Kick-off tal</a> >
                                        <a href="salj">Sälj!</a>
                                    </h5>
								</div>
                                <br>
								<h3>Sälj!</h3>
								<hr />
								<h5>Tal 1</h5>
								<blockquote>
								<p><strong>1.</strong>
									Kan det finnas något finare än att sälja sina produkter eller tjänster? Lite föraktfullt kallas
									säljare ibland för ”nasare”. Frågan är bara hur något företag, någonsin har haft råd att vara
									utan säljare.
								</p>
								<p><strong>2.</strong>
									Men då gäller det att vi uppskattar säljarna, att inte bara Skatteverket gör det. <br>
									En bra säljare är ju värd hur mycket som helst, det gäller bara. En bra säljare, vilka
									egenskaper har hen? Systematisk, social, smart. Och engagerad. Envis, uthållig och fylld med
									jävlar-anamma.
								</p>
								<p><strong>3.</strong>
									Att sälja är utomordentligt viktigt, och därför har vi tema säljfokus på konferensen, för att
									inte bara de som idag är säljare, ge chansen att utveckla sig.
								</p>
                                <div class="align-center">
                                    <div class="actions">
                                        <span><a href="#" class="button">Kopiera texten</a></span>
                                        <span><a href="#" class="button">Spara som PDF</a></span>
                                    </div>
                                </div>
								</blockquote>
							</div>
						</section>
					</article>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>