<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
                                <div class="align-center">
                                    <h5>
										<a href="./../level_1">Hem</a> >
                                        <a href="all">Kick-off tal</a> >
                                        <a href="skordetid">Skördetid</a>
                                    </h5>
								</div>
                                <br>
								<h3>Skördetid</h3>
								<hr />
								<h5>Tal 1</h5>
								<blockquote>
								<p><strong>1.</strong>
									Trots av vi plöjde och gödslade, i rätt tid dessutom. Sådde med nytt, fräscht utsäde, i rätt
									och god jordmån. Trots nya fräscha skörderedskap och utbildning av såväl såningsmän som
									skördepersonal.
								</p>
								<p><strong>2.</strong>
									Vi har hamnat i svår missväxt. Och vi kan inte stillasittande hoppas på väderomslag. Vi
									måste ta saken i egna händer. Ja, till och med byta ut de ledande händerna. Och faktiskt byta
									såväl platsen för sådden som utsädet. Nya platser. Nytt utsäde. Bearbeta nya kunder med
									nya produkter.
								</p>
								<p><strong>3.</strong>
									Men trots svårigheter, gränsande till omöjligheter, besläktade med dumheter, som varje
									professor i marknadsföring skulle sagt, så måste vi få driv i verksamheten. Vi kanske till och
									med skall vara glada för krisen. Kris skapar alltid möjligheter! För den som orkar, vill och kan.
									Jag är säker på att vi kan. Vill vi? Orkar vi? <br>
									<br>
									Vi har faktiskt inget val. Det finns bara ett svar. Och det är ja, eller hur?
								</p>
                                <div class="align-center">
                                    <div class="actions">
                                        <span><a href="#" class="button">Kopiera texten</a></span>
                                        <span><a href="#" class="button">Spara som PDF</a></span>
                                    </div>
                                </div>
								</blockquote>
							</div>
						</section>
					</article>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
