<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
                                <div class="align-center">
                                    <h5>
										<a href="./../level_1">Hem</a> >
                                        <a href="all">Kick-off tal</a> >
                                        <a href="forandring">Förändring</a>
                                    </h5>
								</div>
                                <br>
								<h3>Förändring</h3>
								<hr />
								<h5>Tal 1</h5>
								<blockquote>
								<p><strong>1.</strong>
									”Den som inte förändras i takt med, eller snabbare än omgivningen, den dör”
									Gamle Darwin visste redan för 150 år sedan vad alla vi andra vet. Ständiga förbättringar är villkorenidag.
									Till och med i ännu högre grad. Vi måste alla bli steget bättre.
								</p>
								<p><strong>2.</strong>
									Till och med de av oss som redan presterar på topp. Alla måste bli bättre, hela tiden.
									Och på den vägen måste vi ha råd att misslyckas ibland. För har vi inte det, så har vi inte råd
									att lyckas. Vi är starka, men konkurrenterna är lika starka. Det är som två kroppsbyggare som
									bryter arm. Och håller på så under flera år. Det händer egentligen ingenting. Vi vare sig
									vinner eller förlorar.
								</p>
								<p><strong>3.</strong>
									Konkurrensen blir större, marginalerna mindre. Ska vi finnas kvar på marknaden, så måste
									vi förändras, i takt med, eller snabbare än den, eller hur?
									Resan börjar idag!
								</p>
                                <div class="align-center">
                                    <div class="actions">
                                        <span><a href="#" class="button">Kopiera texten</a></span>
                                        <span><a href="#" class="button">Spara som PDF</a></span>
                                    </div>
                                </div>
								</blockquote>
								<hr />
								<h5>Tal 2</h5>
								<blockquote>
									<p><strong>1.</strong>
										Jag utgår ifrån att alla känner till Pareto-principen, som säger att 20 procent av orsakerna
										ofta står för 80 procent av verkan; den kallas ibland även 80/20-regeln. Och översätts ibland:
										20 % av produkterna står för intäkterna, och 80 % för utgifterna.
										Den är väl ganska okey, ganska rättvisande, men den har en stor nackdel med sig.
										Resonemanget blir ofta alltför ofta statiskt, och oföränderligt. Som om man inte kan göra
										någonting åt situationen. Och i förlängningen så säger den att förändring är onödigt.
									</p>
									<p><strong>2.</strong>
										Ingenting kan vara mer felaktigt. Det är bara de som inte vill förändras, som använder sig
										av Paretos funderingar. <br>
										Förändring, vad är det egentligen? <br>
										Någonting som alltid är bra? Nej, det vet man inte i förväg. <br>
										Någonting som alla vill ha? Nej, verkligen inte! <br>
										Någonting som kräver hårt arbete, ja, det gör det alltid. <br>
										Vi ska naturligtvis inte förändra det vi är bäst på: förvalta, administrera, nog för att det
										behöver effektiviseras, men inte förändras.
									</p>
									<p><strong>3.</strong>
										Bra eller dåligt, förändring är nödvändigt. Situationen går alltid att göra någonting åt, vad
										än gamle Pareto säger.
										Och jag tror, och hoppas att vi tillsammans kommer att visa just det, förändringar är lika
										möjligt, som den är nödvändig!
									</p>
									<div class="align-center">
										<div class="actions">
											<span><a href="#" class="button">Kopiera texten</a></span>
											<span><a href="#" class="button">Spara som PDF</a></span>
										</div>
									</div>
								</blockquote>
								<hr />
								<h5>Tal 3</h5>
								<blockquote>
									<p><strong>1.</strong>
										The Saling syndrom, har någon hört talas om det? <br>
										Det var när ångbåtarna kom fram i slutet på 1800-talet, och hotade segelfartygens
										dominans, och då så man satte igång en fantastisk effektivisering av segelfartygen. Men det
										hjälpte ju naturligtvis inte. Man var chanslösa ändå. Ångbåtarna gick ju faktiskt rakt fram, i
										princip oberoende av väder och vind. Och hur mycket man än förbättrade segelfartygen, så
										var de dödsdömda, en överlägsen teknologi hade tagit över.
									</p>
									<p><strong>2.</strong>
										Vad vill jag säga med det? Vi måste inte bara bli bättre på vad vi redan är bra på, utan se
										till att vi ligger i teknologins framkant, även om det kostar, och till och med är svårt att
										budgetera. Vi ska till varje pris se till att vi inte hamnar i ”sailing-syndromet”!
									</p>
									<p><strong>3.</strong>
										Det är därför har vi samlats här, för att utvecklas i takt med tiden. Eller snabbare. Och
										anpassa oss efter den allt hårdare konkurrensen, innan den anpassar oss efter sig.
									</p>
									<div class="align-center">
										<div class="actions">
											<span><a href="#" class="button">Kopiera texten</a></span>
											<span><a href="#" class="button">Spara som PDF</a></span>
										</div>
									</div>
								</blockquote>
							</div>
						</section>
					</article>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
