<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
                                <div class="align-center">
                                    <h5>
										<a href="./../level_1">Hem</a> >
                                        <a href="all">Kick-off tal</a> >
                                        <a href="konkurrensen">Konkurrensen</a>
                                    </h5>
								</div>
                                <br>
								<h3>Konkurrensen</h3>
								<hr />
								<h5>Tal 1</h5>
								<blockquote>
								<p><strong>1.</strong>
									Vi spelar i högsta divisionen, så kraven på oss är höga. Och nu är det dags för avspark för
									en höst/vår som är viktigare än någonsin. Och vi har två alternativ. Ska vi göra som vi
									brukar? Passa i sidled ett tag, för att sedan passa bakåt till målvakten som rullar bollen
									tillbaka. Och så håller vi på att defensivspela, eftersom vi uppenbarligen inte kan någonting
									annat.
								</p>
								<p><strong>2.</strong>
									Trots att konkurrensen blir hårdare och hårdare. X har tagit andelar, och Y är på väg i på
									vårt segment. Vi kan inte bara förvalta och säkra och se på. Vi har ett stabilt försvar, ett hårt
									arbetande mittfält. Vi har spetskompetensen. Men faktum är, att vi ändå inte gjort
									tillräckligt.
								</p>
								<p><strong>3.</strong>
									Jobbar vi inte tillräckligt hårt, eller jobbar vi inte tillräckligt rätt?
									Det får vi bara reda på om vi försöker förändra oss, om vi ser möjligheter framför
									svårigheter, om vi ändrar defensiv till offensiv. <br>
									<br>
									Och går till attack!
								</p>
                                <div class="align-center">
                                    <div class="actions">
                                        <span><a href="#" class="button">Kopiera texten</a></span>
                                        <span><a href="#" class="button">Spara som PDF</a></span>
                                    </div>
                                </div>
								</blockquote>
							</div>
						</section>
					</article>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
