<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
                                <div class="align-center">
                                    <h5>
										<a href="./../level_1">Hem</a> >
                                        <a href="all">Kick-off tal</a> >
                                        <a href="nytt">Svårt med nytt</a>
                                    </h5>
								</div>
                                <br>
								<h3>Svårt att ta till sig det nya</h3>
								<hr />
								<h5>Tal 1</h5>
								<blockquote>
								<p><strong>1.</strong>
									<i>Vi lägger ner patentverket, allt är ju ändå uppfunnet nu.</i> Sade chefen för det amerikanska
									patentverket 1929. ”Vem vill lyssna på skådespelare som talar”, ”Vem kommer att vilja titta
									på rörliga bilder i en burk, det räcker väl med radio” ”Marknaden för datorer bedömer jag till
									max 5 i världen” Och så: ”Internet är en övergående fluga” var det någon socialdemokratisk
									minister som sade, i början på 1990-talet.
								</p>
								<p><strong>2.</strong>
									Det är svårt att ta till sig det nya. Men eftersom allt – och alla måste hela tiden bli bättre,
									har vi inte så mycket att välja på. Och på den vägen måste vi ha råd att misslyckas ibland. För
									har vi inte det, så har vi inte råd att lyckas.
								</p>
								<p><strong>3.</strong>
									Vi är redo för de nya banorna. Är vi redo för framtiden, blir den redo för oss!
								</p>
                                <div class="align-center">
                                    <div class="actions">
                                        <span><a href="#" class="button">Kopiera texten</a></span>
                                        <span><a href="#" class="button">Spara som PDF</a></span>
                                    </div>
                                </div>
								</blockquote>
							</div>
						</section>
					</article>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
