<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
                                <div class="align-center">
                                    <h5>
										<a href="level_1">Hem</a> >
                                        <a href="level_2">Krishantering</a> >
                                        <a href="level_3">Medarbetare</a> >
                                        <a href="level_4">Svåra samtal</a>  >
                                        <a href="summaries">Prestation</a>
                                    </h5>
								</div>
                                <br>
								<h3>Personal brister i kvalitet och/eller effektivitet</h3>
								<p><strong>1.</strong> Kraven på oss ökar. Konkurrensen. Kunderna. Inte minst internt (företags/koncernledningen/aktieägarna och så vidare). Och för varje gång vi inte levererar den kvalitet som vi lovat, förlorar vi både rykte och kunder. Och det har vi inte råd med.</p>
								<p><strong>2.</strong> Inte nog med det, effektiviteten – hur mycket kvalitetsarbete som vi får ut i förhållande den tid vi lägger ned – är alldeles för dålig.
									<br><br>Och hur omänskligt det än låter, har vi inte råd med medarbetare som vare sig levererar i tid eller med tillräcklig kvalitet. Som inte presterar som vi kommit överens om. Och du sätter ju gruppen på pottkanten, gång på gång. Nu senast (nämn det senaste, och som föranledde samtalet)</p>
								<p><strong>3.</strong> Motsvarar man inte kraven, så platsar man inte. Så skärper du inte till dig ordentligt, får du se dig om efter annat jobb.</p>

								<hr />
								<h5>Invändningar/svar:</h5>
								<blockquote><strong>Så kan du inte göra, jag är med i facket!</strong>
									<br><i>Ok, vill du se det på det viset, då tar vi svängen med ”erinran”, varningar och fackliga förhandlingar, eller kommer du försöka ta ditt jobb på allvar?</i>
                                </blockquote>

								<blockquote><strong>Jag har varit sjuk, pappa/mamma-ledig osv</strong>
									<br><i>Det är inte vad som har varit, som vi är intresserade av, utan vad som måste bli bättre. Och då är det viktigare att vara aktiv och deltagande än passiv och frånvarande. Och det är svårt att kombinera ointresse med frånvaro, eller hur?</i>
								</blockquote>

								<blockquote><strong>Jag har inte tillräcklig kompetens för att utföra det som krävs. Och mina arbetsuppgifter var inte fullt uttalade när jag anställdes.</strong>
									<br><i>Gör en lista på kurser som du bör gå, så tittar vi på det!</i>
								</blockquote>

								<blockquote><strong>Du/företaget förmår inte motivera mig</strong>
									<br><i>Tiden är förbi när man kunde skylla sin egen oförmåga på andra. Det håller inte längre. Det är mer och mer upp till en själv att följa det man kommit överens om. I alla fall så länge som man är avlönad.</i>
								</blockquote>
								<hr />

							</div>
							<div class="align-center">
                                    <div class="actions">
                                        <span><a href="#" class="button">Kopiera texten</a></span>
                                        <span><a href="#" class="button">Spara som PDF</a></span>
                                    </div>
                            </div>
						</section>
					</article>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
